.fundrow-section {
    max-width: 90vw;
    margin: auto;
	&_row {
		display: flex;
		justify-content: space-between;
		align-items: center;
        img{
        width: 34rem;
        }
		h2 {
			font-size: 38px;
			font-weight: 800;
			line-height: 3rem;
			letter-spacing: 0em;
            max-width: 22rem;
			text-align: left;
            padding-bottom: 1.4rem;
		}
		p {
			font-size: 18px;
			font-weight: 400;
			line-height: 26px;
			letter-spacing: 0em;
             max-width: 32rem;
			text-align: left;
		}
	}
	// &_rowreverse {
	// 	display: flex;
	// 	flex-direction: row-reverse;
	// }
}

@media(max-width: 750px){
.fundrow-section{
	&_row{
		flex-wrap: wrap;
		img{
			width: 15rem;
		}
	}
}	
}
