.rowreverse-sections{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    height: 90vh;
    max-width: 90vw;
    margin: auto;
    &_first{
       width: 34rem;
    //    h2{
    //     // font-size: 2.5rem;
    //     font-size: 4.2rem;
    //     font-weight: 800;
    //     line-height: 6rem;
    //    }
       p{
        // font-size: .9rem;
        font-size: 1.3rem;
        font-weight: 400;
        padding: 1rem 0;
        line-height: 1.9rem;
       }
     

      .first-flex{
        display: flex;
        align-items: flex-start;
        gap: 1rem;
        h3{
          
            background: blueviolet;
            padding: .8rem;
            border-radius: 50%;
        }
        .title{
            h2{
                // font-size: 2rem;
                 font-size: 3.2rem;
        font-weight: 800;
        line-height: 6rem;
               
            }
        }
       }



    }
}
@media (max-width: 750px){
    .rowreverse-sections{
        flex-wrap: wrap;
        &_second{
             margin: auto;
            img{
                max-width: 15rem;
               
            }
        }
        &_first {
			p {
				// font-size: .9rem;
				font-size: 1rem;
				font-weight: 400;
				padding: 1rem 0;
				line-height: 1.9rem;
			}
            .first-flex{
                    .title {
				h2 {
					// font-size: 2rem;
					font-size: 2rem;
					font-weight: 800;
					line-height: 6rem;
				}
			}
            }
			
		}
    }
}