.introduction-section{
    &_main{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        min-height: 90vh;
        text-align: center;
        max-width: 70vw;
        margin: auto;
        h1{
            font-size: 5rem;
        }
        p{
            font-size: 1.1rem;
            font-weight: 300;
            width: 60vw;
            line-height: 1.3rem;
            padding: 1.5rem 0;
        }
        button{
            border: 1px solid #c6c4c4;
            background: transparent;
            margin: 2rem 0;
            
        }
    }
}
.stake-cards{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    max-width: 80vw;
    margin: auto;
}