.getcmdx-section{
    position: relative;
    .bluef{
        position: absolute;
        bottom: 0%;
        right: 0%;
        z-index: -11;
    }
    .star{
        position: absolute;
    right: 0%;
    top: -4%;
    z-index: -11;
    }
    .blue{
        position: absolute;
        top: 0%;
        left: 0%;
        z-index: -11;
    }
}