.comdexCard-section{
    width: 20rem;
    border: .7px solid #5a5858;
    border-radius: 17px;
    .main-img{
        width: 19.9rem;
    }
    .comdexCard{
        padding: 1rem;
        p{
            font-size: .7rem;
            font-weight: 400;
            line-height: 1rem;
        }
        h2{
            font-size: 1.1rem;
            padding: 1rem 0;
        }
       .btn-section{
        display: flex;
        // justify-content: center;
        align-items: center;
        padding: 1rem 0;
        gap: .3rem;
        strong{
            font-size: .6rem;
            font-weight: 700;
        }
       }
    }
}
@media (max-width: 600px){
 .comdexCard-section{
    max-width: 90vw;
    .main-img{
        max-width: 90vw;
    }
    .comdexCard{
        p{
            font-size: .6rem;
        }
        h2{
            font-size: .8rem;
        }
    }
 }   
}