.blog-section {
	max-width: 90vw;
	margin: auto;
	&_main {
		display: flex;
		align-items: center;
        gap: 4rem;
		.img {
			height: 19rem;
			width: 34rem;
			left: 100px;
			top: 659px;
			// border-radius: [object Object]px;
		}
		&-content {
			h1 {
				// height: 110px;
				// width: 567px;
				// left: 773px;
				// top: 722px;
				// border-radius: nullpx;
                font-size: 2.3rem;
                padding: .4rem 0;
			}
			p {
				// height: 80px;
				// width: 556px;
				// left: 773px;
				// top: 838px;
				// border-radius: nullpx;
                font-size: .9rem;
                font-weight: 200;
              padding-bottom: 1rem;
              max-width: 30rem;
              line-height: 1.3rem;
			}
			.btn-section {
				// height: 12px;
				// width: 84px;
				// left: 773px;
				// top: 969px;
				// border-radius: nullpx;
                display: flex;
                align-items: center;
                gap: .3rem;
                padding-top: 1rem;
                strong{
                    font-size: .7rem;
                    letter-spacing: .1rem;
                    font-weight: 700;
                }
			}
		}
	}
    .blogs-card{
        display: flex;
        align-items: center;
        justify-content: space-between;
        min-height: 36rem;
    }
	.airdrop {
		// background: #1D1D41;
		background: linear-gradient(to right, #1d1d41, #76c8df);
		display: flex;
		justify-content: space-between;
		align-items: center;
        padding:0 1.5rem;
        border-radius: 15px;
		img {
			width: 12rem;
		}
		h2 {
			// font-size: 42px;
			// font-weight: 900;
			// line-height: 51px;
			// letter-spacing: 0.05em;
			// text-align: left;

			font-size: 42px;
			font-weight: 600;
			line-height: 51px;
			letter-spacing: 0.05em;
			text-align: left;
            // padding: 1rem 0;
		}
		p {
			
			font-size: 16px;
			font-weight: 500;
			line-height: 20px;
			letter-spacing: 0em;
			text-align: left;
            padding-bottom: 1rem;
		}
		.claim-text {
			font-family: Montserrat;
			font-size: 22px;
			font-weight: 900;
			line-height: 27px;
			letter-spacing: 0em;
			text-align: left;
           display: flex;
          justify-content: flex-start;
          padding: .6rem 0;
        //    align-items: center;

			span {
				height: 36px;
				width: 36px;
				// left: 153px;
				// top: 2242px;
				border-radius: 0px;
			}
		}
	}
}
