.portal-section{
    max-width: 80vw;
    margin: auto;
    &_cards{
        display: flex;
        align-items: center;
        justify-content: space-between;
       
    }
    &_comdex{
        h1{
            font-size: 2.7rem;
            font-weight: 800;
          padding-bottom: 2rem;
        }
    }
}