@import '../../assets/variables.scss';

// .navbar{
//   position: absolute;
// width: 1440px;
// height: 80px;
// left: 0px;
// top: 0px;
//  display: flex;
//     justify-content: space-around;
//      padding: 1.5rem 0 ;

//       a{
//         text-decoration: none;
//         color: $white;
//     }
// }
.navbar{
    display: flex;
    justify-content: space-around;
    padding: 1.5rem 0 ;
    z-index: 111;
    background: #33333327;
    align-items: center;
   position: fixed;
   width: 100vw;
    a{
        text-decoration: none;
        color: $white;
    }
}
.navbar-menu{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    align-items: center;
    list-style: none;
}
.navbar-toggle {
    display: none;
  }

@media only screen and (max-width: 768px) {
  

    .navbar-toggle {
      display: flex;
      flex-direction: column;
      background-color: transparent;
      border: none;
      outline: none;
      cursor: pointer;
      position: absolute;
      right: 10%;
    }
    .navbar-toggle:hover{
      background: none;
    }
  
    .navbar-toggle-icon {
      display: block;
      width: 30px;
      height: 4px;
      background-color: #fff;
      margin: auto;
    }
  
    .navbar-menu {
      display: none;
    }
  
    .navbar-menu.is-open {
      display: flex;
      flex-direction: column;
    }
   
  }
  