@import '../../assets/variables.scss';


.navbar{
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 0 ;
    z-index: 111;
    background: $nav-color;
    align-items: center;
  //  position: fixed;
  position: sticky;
  top: 0%;
 
  max-width: 90rem;
   margin: auto;
  // width: 144rem;
    NavLink{
        text-decoration: none;
        color: $white;
    }
}
.navbar-menu{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    align-items: center;
    list-style: none;
}
.navbar-toggle {
    display: none;
  }

.navbar-brand .logo{
  text-decoration: none;
  width: 9.8rem;
}
.flex-content{
  display: flex;
 flex: 0 1 50rem;
 justify-content: space-between;
  align-items: center;

}

@media only screen and (max-width: 768px) {
  
.navbar-brand{
  display: flex;
  justify-content: space-between;
  width: 100vw;
  // margin: auto;
}
 .navbar{
  display: flex;
  flex-direction: column;
   background: $nav-color;
  // position: absolute;
  
  .flex-content{
  display: flex;
 flex: 0 1 1rem;
 justify-content: space-between;
  align-items: center;
   background: $nav-color;
   width: 100%;
  position: absolute;
  top: 90%;

}
  // max-height: 10rem;
 }
//  .height{
//   height: 2rem;
//  }

    .navbar-toggle {
      display: flex;
      justify-content: flex-end;
      background-color: transparent;
      border: none;
      outline: none;
      cursor: pointer;
      position: absolute;
      right: 0%;
    }
    .navbar-toggle:hover{
      background: none;
    }
  
    .navbar-toggle-icon {
      display: flex;

      width: 30px;
      height: 4px;
      background-color: #fff;
      // margin: auto;
    }
  
    .navbar-menu {
      display: none;
    }
  
    .navbar-menu.is-open {
      display: flex;
      flex-direction: column;
      // max-height: 20rem;
    }

    .flex-content{
      display: flex;
      flex-direction: column;
      gap: 0;
      // padding: 1rem 0;
    }
    .nav-btn{
     padding: 1rem 0;
    }
   
  }
  // @media (max-width: 400px){
  //   .navbar{
  //     width: 100vw;
  //   }
  // }
  