.footer-section{
   
    max-width: 80vw;
    margin: auto;
    hr{
        max-width: 80vw;
        margin:3rem auto;
      border: .8px solid rgb(109, 108, 108);
    }
    &_main{
    display: flex;
   
    justify-content: space-between;
    .footer-flex{
    //   max-width: 3rem;
    img{
        width: 8rem;
    }
    h3{
        font-size: 1rem;
        font-weight: 600;
        margin-bottom: .9rem;
    }
    ul li,p{
        list-style: none;
        font-size: .8rem;
        font-weight: 300;
        line-height: 1.5rem;
    }
    }
    }
    .footer-copy{
        display: flex;
        height: 6rem;
        align-items: center;
        justify-content: space-between;
        p{
            font-size: .8rem;
        }
        .react-icons{
            display: flex;
            align-items: center;
           gap: .6rem;
           p{
            font-size: 1.1rem;
           }
        }
    }
}
@media (max-width:750px){
    .footer-section{
        &_main{
            flex-wrap: wrap;
        }
        .react-icons{
            position: absolute;
            z-index: 1111;
           top: 20%;
           right: 0%;
           padding: 1rem;
            flex-direction: column;
        }
        .react-icons.fixed{
            position: fixed;
        }
    }
}