.processfund-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 80vw;
    flex-wrap: wrap;
    margin: auto;
    padding: 3rem 0;
    &_single{
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 9.2rem;
        gap: 1rem;
       text-align: center;
        h1{
            
            background: rebeccapurple;
            padding: .8rem;
            border-radius: 50%;
        }
        h4{
            padding: .8rem 0;
        }
    }
}