.plug-section{
    max-width: 80vw;
   
    margin: auto;
    &_main{
        display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 80vh;
    &-first{
        h1{

        }
        p{
            font-size: .7rem ;
            font-weight: 300;
            width: 34rem;
            line-height: 1.2rem;
            padding: 1.5rem 0;
        }
        button{
            width: 11rem;
            margin: 2rem 0;
        }
    }
    }
}