.validator-section{
    &_main{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        // height: 160vh;
        &-first{
            border: 1px solid #fff;
            flex: 0 1 32rem;
            img{
                width: 10rem;
            }
        }
        .vertical-line {
  border-left: 1px solid rgb(237, 235, 235);
 height: 30vh;
  margin: 0 1rem; 
}
        &-second{
            border: 1px solid #fff;
            flex: 0 1 32rem;

            .validator-img{
                display: grid;
                grid-template-columns: repeat(7, 1fr);
                .image{
                    img{
                        width: 2.4rem;
                        height: 2.4rem;
                    }

                }
            }
        }
    }
}